body {
  font-family: 'Helvetica', 'HelveticaNeue', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 100;
  overflow-y: scroll;
}
section#michelleForGovernorOverride {
  font-family: 'Helvetica', 'HelveticaNeue', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 100;
  overflow-y: scroll;
  /* Bootstrap Overrides */
}
section#michelleForGovernorOverride #tickerContainer {
  background-color: #F20F0F;
  display: flex;
  overflow: hidden;
}
section#michelleForGovernorOverride #tickerContainer p {
  animation-name: tickerSlide;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: white;
  margin: 0;
  padding: 12px;
  transform: translateX(var(--tickerParagraphWidth));
  white-space: nowrap;
}
section#michelleForGovernorOverride #tickerContainer a,
section#michelleForGovernorOverride #tickerContainer a:hover {
  color: #331AE8;
}
section#michelleForGovernorOverride #tickerContainer .star {
  margin: 0 6px;
}
@keyframes tickerSlide {
  0% {
    transform: translateX(0);
  }
}
section#michelleForGovernorOverride #logoTrademark {
  display: flex;
  padding: 48px;
}
section#michelleForGovernorOverride #logoTrademark img {
  margin: auto;
  max-width: 128px;
}
section#michelleForGovernorOverride .selection-arrow {
  width: 96px;
}
section#michelleForGovernorOverride .selection-arrow rect.arrow-body {
  transform: translateX(-17px);
}
section#michelleForGovernorOverride footer {
  display: flex;
  padding: 12px;
}
section#michelleForGovernorOverride footer p {
  color: #ccc;
  font-size: .875rem;
  margin: auto;
}
section#michelleForGovernorOverride .accordion .card {
  border: none;
  border-radius: 0;
  margin: auto;
  width: 80%;
}
@media screen and (max-width: 768px) {
  section#michelleForGovernorOverride .accordion .card {
    width: 100%;
  }
}
section#michelleForGovernorOverride .accordion .card:first-of-type .card-header .btn.btn-link {
  border-top-color: #000;
}
section#michelleForGovernorOverride .accordion .card:last-of-type .card-header .btn.btn-link {
  border-bottom-color: transparent;
}
section#michelleForGovernorOverride .accordion .card .card-header {
  background-color: unset;
  border-bottom: none;
  padding: 0;
}
section#michelleForGovernorOverride .accordion .card .card-header:hover {
  background-color: #BFBFBF;
}
section#michelleForGovernorOverride .accordion .card .card-header:hover .arrow-body {
  transform: translateX(0);
}
section#michelleForGovernorOverride .accordion .card .card-header .btn.btn-link {
  border: 1px transparent solid;
  border-radius: 0;
  color: #000;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  justify-content: space-between;
  padding: 12px 12px 36px;
  width: 100%;
}
section#michelleForGovernorOverride .accordion .card .card-header .btn.btn-link.collapsed {
  border-bottom-color: #000;
}
section#michelleForGovernorOverride .accordion .card .card-header .btn.btn-link:hover,
section#michelleForGovernorOverride .accordion .card .card-header .btn.btn-link:focus {
  text-decoration: none;
}
section#michelleForGovernorOverride .accordion .card .card-header .btn.btn-link span {
  line-height: 1.3;
  width: 72%;
  text-align: left;
  white-space: normal;
}
section#michelleForGovernorOverride .accordion .card-body {
  overflow: auto;
  padding: 0 12px 12px;
}
section#michelleForGovernorOverride .accordion .card-body img,
section#michelleForGovernorOverride .accordion .card-body p,
section#michelleForGovernorOverride .accordion .card-body nav {
  float: left;
}
section#michelleForGovernorOverride .accordion .card-body nav {
  margin-right: 10%;
  width: 10%;
}
section#michelleForGovernorOverride .accordion .card-body nav a {
  color: #000;
  display: block;
  text-align: right;
}
section#michelleForGovernorOverride .accordion .card-body nav span {
  color: #BFBFBF;
}
section#michelleForGovernorOverride .accordion .card-body nav span:after {
  content: ", ";
}
section#michelleForGovernorOverride .accordion .card-body nav span:last-of-type:after {
  content: "";
}
section#michelleForGovernorOverride .accordion .card-body .card-info-section p,
section#michelleForGovernorOverride .accordion .card-body .card-info-section nav {
  float: left;
}
section#michelleForGovernorOverride .accordion .card-body .card-info-section p {
  padding-right: 24px;
  width: 80%;
}
section#michelleForGovernorOverride .accordion .card-body .card-info-section nav {
  margin-right: 0;
  width: 20%;
}
section#michelleForGovernorOverride .accordion .card-body .card-gallery-section {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 24px;
  width: 100%;
}
section#michelleForGovernorOverride .accordion .card-body .card-gallery-section img,
section#michelleForGovernorOverride .accordion .card-body .card-gallery-section div.image-stacker {
  display: block;
  object-fit: contain;
  max-width: 100%;
}
section#michelleForGovernorOverride .accordion .card-body .card-gallery-section img.full,
section#michelleForGovernorOverride .accordion .card-body .card-gallery-section div.image-stacker.full {
  grid-column: span 12;
}
section#michelleForGovernorOverride .accordion .card-body .card-gallery-section img.half,
section#michelleForGovernorOverride .accordion .card-body .card-gallery-section div.image-stacker.half {
  grid-column: span 6;
}
section#michelleForGovernorOverride .accordion .card-body .card-gallery-section img.third,
section#michelleForGovernorOverride .accordion .card-body .card-gallery-section div.image-stacker.third {
  grid-column: span 4;
}
section#michelleForGovernorOverride .accordion .card-body .card-gallery-section img.fourth,
section#michelleForGovernorOverride .accordion .card-body .card-gallery-section div.image-stacker.fourth {
  grid-column: span 3;
}
@media screen and (max-width: 768px) {
  section#michelleForGovernorOverride .accordion .card-body .card-gallery-section img.full,
  section#michelleForGovernorOverride .accordion .card-body .card-gallery-section div.image-stacker.full,
  section#michelleForGovernorOverride .accordion .card-body .card-gallery-section img.half,
  section#michelleForGovernorOverride .accordion .card-body .card-gallery-section div.image-stacker.half,
  section#michelleForGovernorOverride .accordion .card-body .card-gallery-section img.third,
  section#michelleForGovernorOverride .accordion .card-body .card-gallery-section div.image-stacker.third,
  section#michelleForGovernorOverride .accordion .card-body .card-gallery-section img.fourth,
  section#michelleForGovernorOverride .accordion .card-body .card-gallery-section div.image-stacker.fourth {
    grid-column: span 12;
    margin: auto;
  }
}
section#michelleForGovernorOverride .accordion .card-body.about-me-card img {
  max-width: 100%;
  width: 30%;
}
section#michelleForGovernorOverride .accordion .card-body.about-me-card p {
  padding: 0 24px;
  width: 50%;
}
section#michelleForGovernorOverride #headingOne,
section#michelleForGovernorOverride .about-me-card {
  background-color: #BFBFBF;
}
